@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Manrope', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url("./bg.webp");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* You can adjust the opacity by changing the last value */
  z-index: -1;
}


.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
}

.wrap .title img{
    border: none;
    border-radius: 50%;
    width: 140px;
}

.wrap .title h1{
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
}

.wrap .paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5%;
    text-align: center;
}

.wrap .paragraph p{
    font-size: 1.1rem;
}
.wrap .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    text-align: center;
}

.wrap .buttons button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(178, 99, 222);
    border-radius: 17px;
    padding: 12px 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}


@media screen and (max-width:450px){

    body {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      
        background-image: url("./bg.webp");
        background-color: rgba(2, 0, 0, 0.189);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      
        position: relative;
      }
      
      body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(
          0,
          0,
          0,
          0.8
        ); /* You can adjust the opacity by changing the last value */
        z-index: -1;
      }

      

    .wrap .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    
    .wrap .title img{
        border: none;
        border-radius: 50%;
        width: 140px;
    }
    
    .wrap .title h1{
        font-size: 1.8rem;
        font-weight: 800;
    }
    
    .wrap .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 10%;
        text-align: center;
    }
    
    .wrap .paragraph p{
        font-size: 1rem;
    }
    .wrap .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 10%;
        text-align: center;
    }
    
    .wrap .buttons button{
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: rgb(178, 99, 222);
        border-radius: 17px;
        padding: 12px 25px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
    
}


@media screen and (max-width:380px){

    .wrap .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    
    .wrap .title img{
        border: none;
        border-radius: 50%;
        width: 140px;
    }
    
    .wrap .title h1{
        font-size: 1.8rem;
        font-weight: 800;
    }
    
    .wrap .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 15%;
        text-align: center;
    }
    
    .wrap .paragraph p{
        font-size: 1rem;
    }
    .wrap .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 10%;
        text-align: center;
    }
    
    .wrap .buttons button{
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: rgb(178, 99, 222);
        border-radius: 17px;
        padding: 12px 25px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
    
}


@media screen and (max-width:380px){

    .wrap .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    
    .wrap .title img{
        border: none;
        border-radius: 50%;
        width: 140px;
    }
    
    .wrap .title h1{
        font-size: 1.8rem;
        font-weight: 800;
    }
    
    .wrap .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 15%;
        text-align: center;
    }
    
    .wrap .paragraph p{
        font-size: 1rem;
    }
    .wrap .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 10%;
        text-align: center;
    }
    
    .wrap .buttons button{
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: rgb(178, 99, 222);
        border-radius: 17px;
        padding: 12px 25px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
    
}